%label{ for:'milestone_location' } Location
= form.text_field :location, placeholder: 'Location'
%div{class: ('none' unless params[:controller] == 'steps' && params[:action] == 'show')}
  = form.text_field :lat
  = form.text_field :long
%label Date
.selects
  = form.date_select :affected_date, start_year: 1960, end_year: 2012
%label{ for:'milestone_photo_url' } Photo
= form.text_field :photo_url, placeholder: 'Photo'
%label{ for:'milestone_message' } Message
= form.text_area :message, placeholder: 'Story of your object'
