%section.wrapper.search-page
  - if params[:search].blank? && params[:browse].blank?
    HOME!
  - if params[:search].present?
    %h1
      Results for
      %span #{params[:search]}
  .goods
    - @goods.each do |good|
      %article.good.jsGoodLink
        .graphic
          .photo{style:"background-image:url(#{good.photo_url});"}
          .map
            = image_tag "http://api.tiles.mapbox.com/v3/benjaminbouwyn.map-r3r04347/url-bit.ly%2FTzrQOl(#{good.steps.last.long},#{good.steps.last.lat})/#{good.steps.last.long},#{good.steps.last.lat},13/200x75.png"
        %header
          %h2= link_to good.title, good_path(good)
        %section.stats
          .stat
            %span= good.all_locations_count
            = "city".pluralize(good.all_locations_count)
          .stat
            %span= good.all_owners_count
            = "owner".pluralize(good.all_owners_count)
          .stat
            %span= good.all_milestones_count
            = "anecdote".pluralize(good.all_milestones_count)
