%h1 Requests About My Goods

- current_user.available_deals.each do |deal|
  %h2
    = image_tag deal.photo_url, style: "width:100px"
    = link_to deal.good.title, good_path(deal.good)
  - if deal.good.wanters.empty?
    No one yet
  - deal.good.wanters.each do |user|
    = image_tag user.photo_url
    = link_to user.name, user_path(user)
    (#{user.score})
    asked for it the #{Want.where(user_id: user.id, good_id: deal.good.id).first.created_at.strftime("%d %B %Y")}
    = link_to "Give", give_good_path(deal.good, to: user.id)
  %br
  %br
  %br
  %br
%h1 Currently Waiting On
- current_user.wanted_goods.where(available: true).each do |good|
  = image_tag good.photo_url, style: "width:100px"
  = link_to good.title, good_path(good)
