%section.wrapper
  %h1
    = image_tag current_user.photo_url
    = user_link current_user

  .form
    = form_for current_user do |f|
      %label Bio
      = f.text_area :bio, placeholder: "Tell us about yourself"
      %label Location
      = f.text_field :location, placeholder: "Where are you at?"
      = f.submit
