#person
  #avatar
    = image_tag @user.photo_url
  #description
    %h1= @user.name
    %p.bio= @user.bio
    %p.location= link_to @user.location, '#'
  #score
    %span= @user.score

#goods
  #summary
    #offered-count.goods-count
      %span.count= @user.offered_goods.count
      Goods offered
    #available-count.goods-count
      %span.count= @user.available_goods.count
      Goods available
    #taken-count.goods-count
      %span.count= @user.won_goods.count
      Goods taken
  #list
    #offered-goods
      %ol
        - @user.offered_goods.each do |good|
          %li= image_tag good.photo_url
    #available-goods
      %ol
        - @user.available_goods.each do |good|
          %li= image_tag good.photo_url
    #taken-goods
      %ol
        - @user.won_goods.each do |good|
          %li= image_tag good.photo_url
