.wrapper
  .user-header
    .profile-pic
      = image_tag @user.photo_url + '?width=100&height=100'
    %h1= @user.name
    %p.bio= @user.bio
    - if @user.location
      .location= @user.location
    .score
      %span= @user.score

  .user-lists
    .list.offered-goods
      .count
        .data-value= @user.offered_goods.count
        .data-label
          Goods
          %br
          offered
      %ol
        - @user.offered_goods.each do |good|
          %li
            .photo{style:"background-image:url(#{good.photo_url})"}

    .list.available-goods
      .count
        .data-value= @user.available_goods.count
        .data-label
          Goods
          %br
          available
      %ol
        - @user.available_goods.each do |good|
          %li
            .photo{style:"background-image:url(#{good.photo_url})"}

    .list.taken-goods
      .count
        .data-value= @user.won_goods.count
        .data-label
          Goods
          %br
          taken
      %ol
        - @user.won_goods.each do |good|
          %li
            .photo{style:"background-image:url(#{good.photo_url})"}

