%header
  .wrapper
    %nav
      = link_to "The<span>Goods</span>Life".html_safe, '#', class: 'logo'
      %ul
        %li
          %fieldset.search-form
            = form_tag search_index_path, method: "get" do
              = text_field_tag :search, nil, placeholder: "Search"
              = submit_tag
        %li= link_to 'Browse', '#', class: 'selected'
        %li= link_to 'My Account', '#'
        -# my account ou login selon...
        -# %li= link_to 'Login', '#'
        %li= link_to 'Give', new_step_path
