%header
  .wrapper
    %nav
      = link_to "The<span>Goods</span>Life".html_safe, '#', class: 'logo'
      %ul
        %li
          %fieldset.search-form
            %input{type: 'text', placeholder: 'Search'}
            %input{type: 'submit'}
        %li= link_to 'Browse', '#', class: 'selected'
        - if current_user
          %li= link_to 'My Account', account_path
          %li= link_to "Log Out", logout_path
        - else
          %li= link_to "Login", login_path, class: 'jsFacebookLogin'
        %li= link_to 'Give', new_step_path
