%header
  .wrapper
    %nav
      = link_to "The<span>Goods</span>Life".html_safe, root_url, class: 'logo'
      %ul
        %li
          %fieldset.search-form
            = form_tag search_index_path, method: "get" do
              = text_field_tag :search, nil, placeholder: "Search"
              = submit_tag
        %li= link_to 'Browse', search_index_path
        %li= link_to 'Give', give_path
        - if current_user
          %li.dropdown
            %a{ href: user_path(current_user) }
              = image_tag(current_user.photo_url, class: "nav-picto")
              My Account
            %ul
              %li.subnav-link= link_to 'My requests', dashboard_path
              %li.subnav-link= link_to 'Edit account', account_path
              %li.subnav-link= link_to "Log Out", logout_path
        - else
          %li= link_to "Login", login_path, class: 'jsFacebookLogin'
