%article.step.deal.jsMilestone{'data-img'=> step.photo_url, 'data-lat'=> step.lat, 'data-long'=> step.long, 'data-href' => step_path(step)}
  = image_tag step.owner.photo_url, class: 'profil-pic'
  .date= step.affected_date.strftime("%Y")

  - if step.open?
    %h4.title Giving
    .by #{user_link(step.owner)}
    %p
      #{step.owner.name} is giving this object!
  - else
    %h4.title Gift
    #{step.owner.name} gave this to #{step.winner.name}
