= form_tag steps_path do
  %section.wrapper
    %h1 Create a new deal
    .baseline Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .form
      = hidden_field_tag :owner_id, current_user.id
      = hidden_field_tag :good_id, params[:good_id]
      %label{ for:'title' } Title
      = text_field_tag :title, (@good ? @good.title : nil), placeholder: 'Velo, Tent, Bag, Book...'
      %label Category
      .selects
        = select_tag :category, options_for_select(@categories.map{|c| [c,c]})
      %label{ for:'location' } Location
      = text_field_tag :location, nil, placeholder: 'Location'
      %label{ for:'good_description' } Description
      = text_area_tag :good_description, (@good ? @good.description : nil), placeholder: 'Description'
      %label{ for:'message' } Modalities of the deal
      = text_area_tag :message, nil, placeholder: 'Modalities'
      %label{ for:'photo_url' } Photo
      = text_field_tag :photo_url, nil, placeholder: 'Photo'

  %section.wrapper
    %h1 Milestone
    .baseline Curabitur blandit tempus porttitor.

    .form
      = render 'new_milestone'
      = submit_tag "Give", class: "saumon-btn"

