%article.single-good#jsGoodPage
  .good-header
    .wrapper
      .col2
        .photos
          #jsBigPhoto.big-photo{style:"background-image:url(#{@good.photo_url})"}
          .photos-list
            - @good.photo_urls.each do |url|
              .photo.jsPhotoList{style:"background-image:url(#{url})", 'data-img' => url}
      .col1
        .map
          #jsMap
        - if @good.available? && @good.owner_id != current_user.id
          - if @good.wanters.include?(current_user)
            .big-btn.disable Already requested
          - else
            = link_to "Request", want_good_path(@good), class:'big-btn'
        - if !@good.available && @good.owner_id == current_user.id
          = link_to "Give", new_step_path(good_id: @good.id), class:'big-btn'
        - else
          .big-btn.disable Not available for the moment
  .good-content.wrapper
    .col2
      %h1= @good.title
      %p= @good.description
      %h3 Additional Information
      %p
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.
    .col1
      %h2 Owner
      .owner-tab
        = image_tag @good.owner.photo_url, class: 'profil-pic'
        .name= user_link(@good.owner)
        .location= @good.owner.location
        
      %h2 Milestones
      - if @good.owner == current_user
        %details#create-milestone
          %summary Add a milestone for this object
          .form
            = form_for Step.new do |form|
              = render 'steps/new_milestone'
              = submit_tag "Add", class: "saumon-btn"
      - @good.steps.each do |step|
        = render partial: "/steps/items/#{step.type.demodulize.downcase}", locals: { step: step }
