%h1= @good.title
%p= @good.description
%p Owner is #{@good.owner.name}

- if @good.available?
  = link_to "Want", want_good_path(@good)

- @good.photo_urls.each do |url|
  = image_tag url

%h2 Milestones
- @good.steps.each do |step|
  = render partial: "/steps/items/#{step.type.demodulize.downcase}", locals: { step: step }
