- content_for :head do
  %meta(property="og:type"          content="#{Thegoodslife::Application.config.facebook.namespace}:object")
  %meta(property="og:title"         content="#{@good.title}")
  %meta(property="og:url"           content="http://#{request.host + request.path}")
  %meta(property="og:image"         content="#{@good.photo_url}")
  %meta(property="og:site_name"     content='The Goods Life')
  %meta(property="og:description"   content="#{@good.description}")
- content_for :after_fbinit do
  - if flash[:new_good]     
    FB.api( "/me/#{Thegoodslife::Application.config.facebook.namespace}:give", "post", {object:"http://#{request.host + request.path}"}, function(){});

%article.single-good#jsGoodPage
  .good-header
    .wrapper
      .col2
        .photos
          #jsBigPhoto.big-photo{style:"background-image:url(#{@good.photo_url})"}
          .photos-list
            - @good.photo_urls.each do |url|
              .photo.jsPhotoList{style:"background-image:url(#{url})", 'data-img' => url}
      .col1
        .map
          #jsMap
          %script
            var myPoints = #{@good.geo_points.to_json.html_safe};

        - if @good.available?
          - if @good.owner_id == current_user.try(:id)
            .big-btn.disable Give
          - else
            - if @good.wanters.include?(current_user)
              .big-btn.disable requested
            - else
              = link_to "Request", want_good_path(@good), class:'big-btn'
        - else 
          - if @good.owner_id == current_user.try(:id)
            = link_to "Give Back", new_step_path(good_id: @good.id), class:'big-btn'
          - else
            .big-btn.disable Not available at the moment
  .good-content.wrapper
    .col2
      %h1= @good.title
      %p= raw @good.description.gsub("\n", "<br />")
      - if @good.latest_deal
        %h3 Modalities
        %p= @good.latest_deal.message
    .col1
      %h2 Owner
      .owner-tab
        = image_tag @good.owner.photo_url, class: 'profil-pic'
        .name= user_link(@good.owner)
        .location= @good.owner.location
      %h2 Milestones
      - if @good.owner == current_user
        .step
          %details#create-milestone
            %summary Add a milestone for this object
            .form
              - step = Step.new
              = form_for step do |form|
                = text_field_tag "add_milestone_to_good", @good.id
                = fields_for :milestone, step do |f|
                  = render "/steps/edit/milestone", form: f
                = submit_tag "Add", class: "saumon-btn"
      - @good.steps.each do |step|
        = render "/steps/items/#{step.type.demodulize.downcase}", step: step
    
