!!! 5
%html
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %title TheGoodsLife
    = stylesheet_link_tag 'application', media: :all

  %body
    = render partial: "/shared/app_menu"

    #content.page-wrapper
      = yield

    = render partial: "/shared/footer"

    = javascript_include_tag 'application'

    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : #{Thegoodslife::Application.config.facebook.app_id},
          status     : true,
          cookie     : true,
          xfbml      : true
        });
      };

      (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
       }(document, /*debug*/ false));
